<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{data_one.id}}. {{data_one.title}} 수정</title>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script type="text/javascript">
window.onload = function(){
	// alert 모달로 바꿀것?
	
	document.querySelector("#btnUpdate").onclick = function(){
		if(upfrm.name.value===""){
			alert("작성자를 입력하시오");
			upfrm.name.focus();
			return;
		}
		if(upfrm.up_passwd.value===""){
			alert("비밀번호를 입력하시오");
			upfrm.name.focus();
			return;
		
		}
		upfrm.submit();
	}
}
</script>
</head>
<body style="margin:20px" >
{% include 'includes/navbar.html' %}

<!-- 수정할 번호도 함께 전송 -->
<form action="/qna/updateok" method="post" name="upfrm" style="margin:100px; padding:20px; text-align:center;">{% csrf_token %}
<h2>수정하기</h2>
<input type="hidden" name='id' value='{{data_one.id}}' />

<div class="input-group mb-3">
    <span class="input-group-text">작성자</span>
    <input type="text" class="form-control" name='name' value="{{data_one.name}}">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">비밀번호</span>
    <input type="password" class="form-control" name="up_passwd">
    <span style="color:red">&nbsp;{{msg}}</span>
</div>

<div class="input-group mb-3">
    <span class="input-group-text">이메일</span>
    <input type="email" class="form-control" name='mail' value="{{data_one.mail}}">
</div>

<div class="input-group mb-3">
    <span class="input-group-text">제목</span>
    <input type="text" class="form-control" name='title' value="{{data_one.title}}">
</div>

<div class="form-floating mb-3">
  <textarea class="form-control" name="cont" id="cont" style="height: 100px">{{data_one.cont}}</textarea>
  <label for="floatingTextarea2">내용</label>
</div>

  <input type="button" value="수정" id="btnUpdate" class="btn btn-dark" name="btn" />
  <input type="button" value="이전" onclick="history.back()" class="btn btn-light" name="btn" />
</form>

{% include 'includes/footer.html' %}
</body>
</html>