<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메인</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
<div id="body-wrapper" style="width:auto; margin:20px;">
{% include 'includes/navbar.html' %}
<div id="body-content" >
	<h2>*현재 상영중인 영화 리스트*</h2>
	{% for data in file %}
	<img src="{{data}}" alt="" />
	{% endfor %}
</div> 
</div>
{% include 'includes/footer.html' %}
</body>
</html>