<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메인</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
<style>
   *{
      font-family: 'Nanum Gothic', sans-serif;
   }
   #body-content{
   	margin-left: 27px;
   }
   p{
   	font-size: 20px;
   }
   
   
</style>
</head>
<body class="d-flex flex-column min-vh-100">
<div id="body-wrapper" style="width:auto; margin:20px; text-align:center;">
{% include 'includes/navbar.html' %}
<br />
<div id="body-content">
	<p><b>현재 상영작</b></p>
	{% for data in file %}
	<img src="{{data}}" alt="" />
	{% endfor %}
</div> 
</div>
{% include 'includes/footer.html' %}
</body>

</html>