<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<style>
.row > div > h3 {height:60px}
</style>
<body>
<div style="width:auto; margin:20px;">
{% include 'includes/navbar.html' %}
</head>
<body>
	<h3> 이런 영화는 어떠세요? </h3><hr>
	<div class="container">
		<div class="row">
	 	{% for key,value in title.items%}
			<div class="col-lg-4 col-sm-6">
			 		<h3>{{value}}</h3>
					<p><a class="btn btn-secondary" href="/movie/detail?id={{key}}">상세 정보 &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
		{%endfor%}
		</div>
	</div>
{% include 'includes/footer.html' %}
</div>
</body>
</html>